@import "reset";
@import "variables/global.scss";
@import "themes/dark.scss";
@import "themes/normal.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
}

* {
  scrollbar-width: thin;
  scrollbar-color: var(--bg-blue-color) transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-blue-color);
  border-radius: 6px;
}

*::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.app {
  min-height: 100vh;
}

.content-page {
  display: flex;
}
