:root {
  --font-family-main: "Verdana", "Geneva", Serif;

  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

  --font-size-l: 20px;
  --font-line-l: 28px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

  --font-size-s: 14px;
  --font-line-s: 22px;
  --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

  //Sizes
  --navbar-height: 50px;

  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;

  //Colors
  --white: #ffffff;
  --background-page-clear: #bababa;
  --background-button-clear: #9b9b9b;
  --background-input: #d1d1d1;
  --text-color-clear: #2a2a2a;
  --overlay-color: rgba(0 0 0 /60%);

  //z-index
  --modal-z-index: 10;
}
