.title {
  font: var(--font-l);
}

.error {
  color: var(--error-text-color);
}

.bold {
  font-weight: bold;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.small {
  font: var(--font-s);
}

.opacity {
  opacity: 0.7;
}
