.switcher {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
}

.switcher input {
  display: none;
}

.slider {
  width: 44px;
  height: 24px;
  background-color: var(--secondary-color);
  border-radius: 999px;
  position: relative;
  transition: background-color 0.2s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 2px;
  left: 2px;
  background-color: var(--white);
  border-radius: 50%;
  transition: transform 0.2s;
}

input:checked + .slider {
  background-color: var(--bg-blue-color);
}

input:checked + .slider::before {
  transform: translateX(20px);
}
