.button {
  cursor: pointer;
  background: var(--bg-color-inverted);
  color: var(--primary-color-inverted);
  border: none;
  border-radius: 2px;
  padding: 4px 6px;
  font: var(--font-m);
}

.clear {
  background: var(--background-button-clear);
}
