.button {
  cursor: pointer;
  background: var(--bg-color-inverted);
  color: var(--primary-color-inverted);
  border: none;
  border-radius: 2px;
  padding: 4px 6px;
  font: var(--font-m);
}

.clear {
  background: var(--background-button-clear);
  color: var(--text-color-clear);
}

.square {
  padding: 0;
}

.disabled {
  opacity: 0.5;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font-size: var(--font-size-m);
}

.square.size_l {
  width: var(--font-line-l);
  height: var(--font-line-l);
  font-size: var(--font-size-l);
}
