.avatar {
  border-radius: 20%;
  background-color: white;
  object-fit: contain;
}

.small {
  width: 50px;
  height: 50px;
}

.medium {
  width: 200px;
  height: 200px;
}

.large {
  width: 250px;
  height: 250px;
}
