.page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--bg-color-inverted);
}

.link {
  opacity: 1;
}

.collapsed {
  .page {
    justify-content: center;
  }

  .link {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
