.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-color-secondary);
  transition: width 0.3s;
  border-right: 1px solid var(--border-color);
  position: relative;
  padding: 15px 10px;
}

.collapseButton {
  position: absolute;
  bottom: 0;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.page {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  fill: var(--bg-color-inverted);
}

.link {
  opacity: 1;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .page {
    justify-content: center;
  }

  .link {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
