.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background: var(--bg-color-secondary);
  transition: width 0.3s;
  border-right: 1px solid var(--border-color);
  position: relative;
  padding: 15px 10px;
  flex-shrink: 0;
}

.collapseButton {
  position: absolute;
  bottom: 0;
}

.pages {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .pages {
    align-items: center;
  }
}
