.profileEditCard {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fieldsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 20px;
  column-gap: 30px;
  row-gap: 10px;
}

.fieldsSkeleton {
  width: calc(50% - 15px) !important;
  height: 60px !important;
}

.field {
  display: flex;
  align-items: center;
  gap: 10px;
  width: calc(50% - 15px);
}

.input {
  flex-grow: 1;
}

.noData {
  align-items: center;
  justify-content: center;
  height: 300px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.button {
  width: 200px;
}
