.profileEditCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.stringWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.input {
  flex-grow: 1;
}

.noData {
  align-items: center;
  justify-content: center;
  height: 300px;
}
