.inputWrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  width: 100%;
  background: var(--background-input);
  color: var(--text-color-clear);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0 4px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.clearBtn {
  position: absolute;
  right: 8px;
  top: 38px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  padding: 0;

  &:hover {
    color: var(--text-hover-color);
  }
}
