.selectWrapper {
  display: flex;
  flex-direction: column;
}

.select {
  width: 100%;
  height: 26px;
  background: var(--background-input);
  color: var(--text-color-clear);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0 4px;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
