.app_dark_theme {
  --bg-color: #2d2d2e;
  --bg-color-secondary: #181818;
  --bg-color-inverted: #cdcdcd;

  --primary-color: #b7b7b7;
  --secondary-color: #838483;
  --primary-color-inverted: #2a2a2a;
  --error-text-color: #ff4040;

  --border-color: #434343;
}
