.app_dark_theme {
  --bg-color: #2d2d2e;
  --bg-color-secondary: #181818;
  --bg-color-inverted: #cdcdcd;
  --bg-blue-color: #729ab4;

  --primary-color: #b7b7b7;
  --secondary-color: #838483;
  --primary-color-inverted: #2a2a2a;
  --error-text-color: #ff4040;
  --text-hover-color: #729ab4;

  --border-color: #729ab4;

  --skeleton-color: #729ab4;
  --skeleton-shadow: #729ab4;
}
