.app_light_theme {
  --bg-color: #e8e8ea;
  --bg-color-secondary: #cdcdcd;
  --bg-color-inverted: #2d2d2e;

  --primary-color: #2a2a2a;
  --secondary-color: #525252;
  --primary-color-inverted: #b7b7b7;

  --border-color: #9e9e9e;
}
