.app_light_theme {
  --bg-color: #e8e8ea;
  --bg-color-secondary: #cdcdcd;
  --bg-color-inverted: #2d2d2e;
  --bg-blue-color: #1e6ea3;

  --primary-color: #2a2a2a;
  --secondary-color: #525252;
  --primary-color-inverted: #b7b7b7;
  --error-text-color: #ff2a2a;
  --text-hover-color: #1e6ea3;

  --border-color: #6398bb;
}
