.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--bg-color-secondary);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px;
}

.profileWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile {
  cursor: pointer;
}
