.textareaWrapper {
  display: flex;
  flex-direction: column;
}

.textarea {
  width: 100%;
  background: var(--background-input);
  color: var(--text-color-clear);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0 4px;
  resize: none;
  overflow: hidden;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}
