.profileMainCard {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.noData {
  align-items: center;
  justify-content: center;
  height: 300px;
}

.mainInfoWrapper {
  display: flex;
  gap: 50px;
}

.mainInfo {
  display: flex;
  flex-direction: column;
}

.lastname {
  margin-bottom: 10px;
}

.username {
  margin-bottom: 10px;
}
